* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    color: black;
    background: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1536px;
    margin: 0 auto;
    padding: 0 32px;
}