* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    color: black;
    background: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: #00000000 0px 0px 0px 0px, #00000000 0px 0px 0px 0px, #00000000 0px 0px 0px 0px, #00000000 0px 0px 0px 0px, #0000001A 0px 1px 3px 0px, #0000001A 0px 1px 2px -1px;
}

.header.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 700;
}

.logo-icon {
    background: linear-gradient(135deg, #2563eb, #9333ea);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: 700;
    justify-content: center;
    font-size: 20px;
}

.nav {
    display: flex;
    gap: 28px;
    margin-left: auto;
}

.nav-link{
    color: #374151;
    font-size:14px;
    transition: color 0.2s;
}

.nav-link:hover{
    color: #2563eb;
}
.icon-btn{
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}
.cart-badge {
    position: absolute;
    top: -6px;
    right: -8px;
    background: #2563eb;
    color: white;
    font-size: 10px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.catalog-title {
    padding: 32px 0 16px;
}

.catalog-title h1{
    font-size: 28px;
    font-weight: 700;
}

.catalog-title p{
    color: #6b7280;
    margin-top: 4px;
    font-size: 14px;
}

.catalog-layout {
    display: flex;
    gap: 24px;
    padding-bottom: 60px;
}

.filters {
    width: 220px;
    flex-shrink: 0;
}

.filters h3{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}